@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
body {
  max-width: 1440px;
  padding: 0;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.error {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error__title {
  margin-top: 0;
  font-size: 15vw;
  font-weight: 700;
  color: #FF6060;
  margin-bottom: 0;
}
.error__txt {
  font-weight: 500;
  color: #FF6060;
  margin-bottom: 9rem;
  text-align: center;
}
.error__link {
  color: #FF6060;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}
.header__logo img {
  height: 60%;
}
.header__list {
  list-style: none;
  display: flex;
  padding-top: 1rem;
  font-size: 16px;
  gap: 2rem;
  font-weight: 500;
}
.header a {
  text-decoration: none;
  color: #FF6060;
}
.header a.active {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .header__logo img {
    height: 35px;
  }
  .header__list {
    font-size: 12px;
    padding: 0;
    gap: 1rem;
  }
}
.footer {
  justify-content: center;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.footer__logo {
  margin-top: 3rem;
}
.footer__txt {
  font-size: 24px;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .footer__txt {
    font-size: 12px;
  }
}
.banner {
  background-size: cover;
  display: flex;
  height: 210px;
  width: 90%;
  -o-object-fit: center;
     object-fit: center;
  background-position: 50%;
  border-radius: 25px;
  justify-content: center;
  margin: auto;
  align-items: center;
}
.banner__txt {
  color: white;
  font-weight: 500;
  font-size: 48px;
  padding-left: 1rem;
}

@media screen and (max-width: 600px) {
  .banner {
    height: 150px;
  }
  .banner__txt {
    font-size: 24px;
    width: 77%;
    padding: 0;
  }
}
.container {
  margin-top: 1rem;
}
.container__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: start;
  /**********************************************/
  align-items: end;
  /**********************************************/
  border-radius: 10px;
  width: 300px;
  height: 300px;
}
.container__grid {
  padding: 1rem 0;
  margin: auto;
  width: 90%;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
  border-radius: 25px;
}
.container__card {
  display: flex;
  justify-content: start;
  /**********************************************/
  align-items: end;
  /**********************************************/
  border-radius: 10px;
  width: 300px;
  height: 300px;
  position: relative;
}
.container__title {
  text-decoration: none;
  padding-left: 1rem;
  width: 40%;
  color: white;
  position: absolute;
  font-weight: 500;
  font-size: 18px;
  text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.7215686275);
}
.container__img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 600px) {
  .container__grid {
    gap: 1rem;
    background-color: transparent;
  }
  .container__card {
    width: 100%;
  }
}
.carrousel {
  display: flex;
  justify-content: center;
  position: relative;
}
.carrousel__slide {
  width: 90%;
  height: 415px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
.carrousel__counter {
  position: absolute;
  bottom: 2rem;
  color: white;
  font-weight: 500;
}

.arrow {
  width: 90%;
  position: absolute;
  top: 50%;
}
.arrow__right {
  min-width: 3vw;
  position: absolute;
  right: 0.5rem;
  transform: rotate(90deg);
  cursor: pointer;
}
.arrow__left {
  min-width: 3vw;
  position: absolute;
  left: 0.5rem;
  transform: rotate(-90deg);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .carrousel__slide {
    max-height: 215px;
  }
  .carrousel__counter {
    display: none;
  }
}
.container__apartment {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.apartment {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0 auto;
}
.apartment__title {
  margin: 0;
  font-size: 36px;
  color: #FF6060;
  font-weight: 500;
}
.apartment__location {
  margin-top: 0.5rem;
  font-size: 18px;
  color: #FF6060;
  font-weight: 500;
}

.tag {
  display: flex;
  gap: 1rem;
}
.tag__item {
  margin-top: 0;
  font-size: 14px;
  color: white;
  background-color: #FF6060;
  padding: 0.3rem 1.5rem;
  border-radius: 10px;
  font-weight: 500;
}

.host {
  display: flex;
}
.host__name {
  width: 80px;
  display: inline-block;
  word-break: break-word;
  text-align: end;
  font-size: 18px;
  font-weight: 500;
  color: #FF6060;
  padding-right: 10px;
}
.host__picture {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 64px;
  height: 64px;
  margin: auto;
}

.togglecontainer {
  margin: 1rem auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.togglecontainer__description {
  width: 45%;
}
.togglecontainer__description h2 {
  font-size: 18px;
}
.togglecontainer__description p {
  margin: 0;
  border-radius: 10px;
  background-color: #F6F6F6;
  padding: 2rem 1rem;
  font-size: 18px;
  color: #FF6060;
}
.togglecontainer__equipements {
  width: 45%;
}
.togglecontainer__equipements h2 {
  font-size: 18px;
}
.togglecontainer__equipements ul {
  border-radius: 10px;
  background-color: #F6F6F6;
  margin: 0;
  padding: 2rem 1rem;
  list-style: none;
}
.togglecontainer__equipements ul li {
  font-size: 18px;
  color: #FF6060;
}

@media screen and (max-width: 600px) {
  .apartment {
    flex-direction: column;
  }
  .apartment__title {
    font-size: 18px;
  }
  .apartment__location {
    font-size: 14px;
  }
  .tag {
    gap: 5px;
    flex-wrap: wrap;
  }
  .tag__item {
    font-size: 10px;
    padding: 0.3rem 0.8rem;
  }
  .host__name {
    font-size: 12px;
  }
  .host__picture {
    width: 32px;
    height: 32px;
  }
  .spacebetween {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .spacebetween__star {
    width: 13px;
    height: 13px;
  }
  .togglecontainer {
    flex-direction: column;
  }
  .togglecontainer__description {
    width: 100%;
  }
  .togglecontainer__description h2 {
    font-size: 13px;
  }
  .togglecontainer__description p {
    font-weight: 400;
    font-size: 12px;
  }
  .togglecontainer__equipements {
    width: 100%;
  }
  .togglecontainer__equipements h2 {
    font-size: 13px;
  }
  .togglecontainer__equipements ul li {
    font-weight: 400;
    font-size: 12px;
  }
}
.toggle__title {
  background-color: #FF6060;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 24px;
  color: white;
  border-radius: 10px;
  margin: 0;
  cursor: pointer;
}

.toggle__arrow {
  transition: transform 0.2s ease-in-out;
  transform: rotate(180deg);
}

.toggle__arrow--open {
  transform: rotate(0deg);
}

.abouttoggle {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 80%;
  gap: 1rem;
  flex-grow: 1;
}
.abouttoggle h2 {
  font-size: 24px;
  font-weight: 500;
}
.abouttoggle p {
  margin: 0;
  border-radius: 10px;
  background-color: #F6F6F6;
  font-size: 24px;
  font-weight: 400;
  padding: 2rem;
  color: #FF6060;
}

@media screen and (max-width: 600px) {
  .abouttoggle h2 {
    font-size: 13px;
  }
  .abouttoggle p {
    font-size: 12px;
  }
}/*# sourceMappingURL=main.css.map */