.banner {
    background-size: cover;
    display: flex;
    height: 210px;
    width: 90%;
    object-fit: center;
    background-position: 50%;
    border-radius: 25px;
    justify-content: center;
    margin: auto;
    align-items: center;
    background-color: rgb(141 141 141 / 70%);
    background-blend-mode: multiply;

    &__txt {
        color: white;
        font-weight: 500;
        font-size: 48px;
        padding-left: 1rem;
    }
}


@media screen and (max-width: 600px) {

    .banner {
        height: 150px;

        &__txt {
            font-size: 24px;
            width: 77%;
            padding: 0;
        }
    }

}