.carrousel {
    display: flex;
    justify-content: center;
    position: relative;

    &__slide {
        width: 90%;
        max-height: 415px;
        object-fit: cover;
        border-radius: 25px;
    }

}

.arrow {
    width: 90%;
    position: absolute;
    top: 50%;


    &__right {
        min-width: 3vw;
        position: absolute;
        right: 0.5rem;
        transform: rotate(90deg);
    }

    &__left {
        min-width: 3vw;
        position: absolute;
        left: 0.5rem;
        transform: rotate(-90deg);
    }
}