.carrousel {
    display: flex;
    justify-content: center;
    position: relative;

    &__slide {
        width: 90%;
        height: 415px;
        object-fit: cover;
        border-radius: 25px;
    }

    &__counter {
        position: absolute;
        bottom: 2rem;
        color: white;
        font-weight: 500;
    }

}

.arrow {
    width: 90%;
    position: absolute;
    top: 50%;


    &__right {
        min-width: 3vw;
        position: absolute;
        right: 0.5rem;
        transform: rotate(90deg);
        cursor: pointer;
    }

    &__left {
        min-width: 3vw;
        position: absolute;
        left: 0.5rem;
        transform: rotate(-90deg);
        cursor: pointer;
    }

}


@media screen and (max-width: 600px) {

    .carrousel__slide {
        max-height: 215px;
    }
    .carrousel__counter {
      display: none;
    }
}