.abouttoggle {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    width: 80%;
    gap: 2rem;
    flex-grow: 1;

    h2 {
        font-size: 24px;
        font-weight: 500;
    }

    p {
        margin: 0;
        border-radius: 10px;
        background-color: $color-secondaire;
        font-size: 24px;
        font-weight: 400;
        padding: 2rem;
        color: $color-primaire;
    }
}


@media screen and (max-width: 600px) {
    .abouttoggle {
        width: 90%;
        margin-top: 1.25rem;
        gap: 1.25rem;

        h2 {
            font-size: 13px;
        }

        p {
            font-size: 12px;
            padding: 1rem 0rem 3rem 0.66rem;
        }
    }
}